# Laravel / PHP
vendor/
node_modules/

# Environment files
.env
.env.*

# Laravel specific
public/storage
storage/*.key
storage/logs/
bootstrap/cache/

# Allow image files in storage/app/public
!storage/app/public/
!storage/app/public/**/*.jpg
!storage/app/public/**/*.jpeg
!storage/app/public/**/*.png
!storage/app/public/**/*.gif
!storage/app/public/**/*.webp
!storage/app/public/**/.gitkeep
