# Laravel / PHP
vendor/
node_modules/

# Environment files
.env
.env.*

# Laravel specific
storage/*.key
storage/logs/
bootstrap/cache/

# Allow public/storage and file uploads (images + docs)
!public/storage/
!public/storage/**/*.jpg
!public/storage/**/*.jpeg
!public/storage/**/*.png
!public/storage/**/*.gif
!public/storage/**/*.webp
!public/storage/**/*.pdf
!public/storage/**/*.doc
!public/storage/**/*.docx
!public/storage/**/*.xls
!public/storage/**/*.xlsx
!public/storage/**/*.ppt
!public/storage/**/*.pptx
!public/storage/**/*.zip
!public/storage/**/*.rar
!public/storage/**/.gitkeep

# Allow uploads in storage/app/public (images + docs)
!storage/app/public/
!storage/app/public/**/*.jpg
!storage/app/public/**/*.jpeg
!storage/app/public/**/*.png
!storage/app/public/**/*.gif
!storage/app/public/**/*.webp
!storage/app/public/**/*.pdf
!storage/app/public/**/*.doc
!storage/app/public/**/*.docx
!storage/app/public/**/*.xls
!storage/app/public/**/*.xlsx
!storage/app/public/**/*.ppt
!storage/app/public/**/*.pptx
!storage/app/public/**/*.zip
!storage/app/public/**/*.rar
!storage/app/public/**/.gitkeep
